<div class="col-xs-3">
	<h1>User info</h1>

	<%= attachment_image_tag user, :profile_image, size: "150x150", fallback: "no_image.jpg"%>

	<p>name:<%= user.name %></p>

	<p>introduction:<%= user.introduction %></p>


	<% if user.id == current_user.id %>
		<p><%= link_to "プロフィール編集", edit_user_path(user.id), class: "pull-right" %></p>
	<% end %>

	<h1>New Book</h1>
	<%= form_for(book) do |f| %>

			<p>Title</p>
			<%= f.text_field :title %>

			<p>Opinion</p>
			<%= f.text_area :body %>

			<p><%= f.submit 'Create Book' %></p>

	<% end %>
</div>