<main>
	<h1>Editing Book</h1>

	<%= form_for(@book, url:"/books/#{@book.id}") do |f| %>
		<p>Title<br>
		<%= f.text_field :title %></p>

		<p>Opinion<br>
		<%= f.text_area :body %></p>

		<%= f.submit 'Update Book' %>

	<% end %>

	<p><%= link_to "Show", book_path(@book.id) %> |
	<%= link_to "Back", books_path %></p>
</main>